<div class="row row-cols-md-5">
    <div>
        <img class="img-thumbnail float-start" src="{{datos.imagen}}">
        
    </div>
    <div>{{datos.precio}}</div>
    <div>
    <button type="button" class="btn btn-primary" (click)="decreaseUnit()">-</button>
    <input type="text" class="form-control d-inline-block text-center" [value]="datos.unidades" readonly disabled style="width: 50px; margin: 0 5px;">
    <button type="button" class="btn btn-primary" (click)="addUnit()">+</button>
    </div>
    <div>SUBTOTAL DE ESE ARTÍCULO</div>
    <div>
		<button type="button" class="btn btn-danger" (click)="removeArtFromCart(datos.id)">Eliminar</button>
    </div>
</div>
